<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h4 class="page-header">What is PromElle?</h4>
					<p class="text-muted">PromElle is the first peer-to-peer marketplace for girls to rent and lend their closets. Founded in the San Francisco Bay Area by two 10th graders, Nishka Ayyar and Riya Gupta, PromElle aims to democratize the world of teen fashion. Knowing first hand that having something nice to wear is key to a fun and joyous social experience for a teenage girl, Riya and Nishka set out to create PromElle to provide every teenage girl access to an unlimited closet of party dresses while also offering a way to monetize unused dresses in their closet. A teen girl’s social calendar invariably includes numerous events that require dressing up: Proms, Quinceañeras, School dances, Bat Mitzvahs, and birthdays to name a few. Many teenage girls miss prom and other fun events because they are unable to afford a proper dress. Yet, many others spend a considerable amount of money on the perfect dress, only to wear it once and then have it sit in their closet and collect dust.</p>
					<p class="text-muted">PromElle offers an ideal solution to these problems. Using the PromElle mobile app, girls who own barely used dresses can lend them out to others and make money. PromElle encourages dress owners (lenders) to list their dresses for about 15%-30% of the retail price. Girls who are shopping for a quality dress can browse the listings on PromElle and rent a dress for a fraction of its retail cost, and save money. At the end of the rental period, they simply pack the dress and return it back to the lender. PromElle facilitates and manages all aspects of the transaction, including payment and delivery.</p>
					<p class="text-muted">The PromElle mobile app is available on the iOS platform and can be downloaded for free from the App store.</p>
				</div>
				<div class="col-sm-6">
					<h4 class="page-header">About the Founders</h4>
					<p class="text-bold text-uppercase">Nishka Ayyar</p>
					<p class="text-muted">Nishka Ayyar is currently a Sophomore at the Harker School in San Jose, CA. She is an active member of her school’s DECA club and Orchestra. Outside of school, Nishka loves playing volleyball and clarinet and hanging out with friends. She also runs a volunteer organization called Music Buddies which recruits student performers to perform at senior communities across the Bay Area.</p>
					<p class="text-bold text-uppercase">Riya Gupta</p>
					<p class="text-muted">Riya Gupta is a sophomore at The Harker Upper School. Apart from schoolwork, her passions include singing, performing, and reading. She enjoys being an officer of her school’s BEcon team, where she helps organize the annual business and economics conference with professionals from across California, as well as being an avid member of Harker’s DECA Club. She also loves hanging out with her family, including her pets, and her friends.</p>
				</div>
				<div class="col-sm-6">
					<img class="img-responsive preview-pic" src="images/about.png" alt="">
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>			
	</section>