<section class="faq">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p>PromElle is the first peer-to-peer rental marketplace for teens to rent and lend formal dresses among each other.</p>
					<p>PromElle was founded in the San Francisco Bay Area by two 10th graders, Nishka Ayyar and Riya Gupta who want to change the world of teen formal fashion. Knowing first hand that having something nice to wear is key to a fun and joyous social experience, especially in a teen girl’s life, Riya and Nishka set out to create PromElle with the aim of providing every teenage girl access to an unlimited closet of formal dresses.</p>
					<p>Many teenage girls miss prom and other fun, formal events because they are unable to afford a proper dress. Yet, many teenage girls spend a considerable amount of money on the perfect dress, only to wear it once and then have it sit in their closet and collect dust.</p>
				</div>
				<div class="col-sm-6">
					<img class="img-responsive preview-pic" src="images/about.png" alt="">
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>			
	</section>