<div ng-cloak>
    <md-content class="md-padding" layout-md="column" layout="row">
        <div flex-xs="" flex-gt-xs="500" layout="row">
            <md-card>
                <img class="profile_image md-card-image" ng-src="{{details.image}}" />
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{details.full_name}}</span>
                        <span class="md-subhead">{{details.city}}</span>
                        <span class="md-subhead">{{details.state}}</span>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </md-content>
    <md-content class="md-padding">
        <md-input-container>
            <form name="appForm">
            <p class="md-subhead">Enter the mobile number</p>
            <input name= "phone" placeholder="" ng-model="phone" ng-focus = "show()" ng-keypress="hide()"/>
              <div ng-messages="appForm.phone.$error">
                  <div ng-show ="isRequired === true" ng-hide ="isRequired === false">This is required.</div>
                  <div ng-show ="isValid === true" ng-hide ="isValid === false">Please enter a valid phone number.</div>
                </div>
              </br>
             <div>
               <button class="btn btn-primary" ng-click="sendLink(phone)">Send the App Link</md-button>
             </div>
          </form>
        </md-input-container>
    </md-content>
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Overview">
                <md-content class="md-padding">
                    <p class="md-headline">{{details.overview}}</p>
                </md-content>
            </md-tab>
            <md-tab label="Reviews">
                <md-content class="md-padding">
                    <p class="md-subhead">Total Reviews: {{reviews.total}}</p>
                    <p class="md-subhead" star-rating rating="reviews.avg" read-only="true" max-rating="5"></p>
                    <md-button class="md-primary" ng-click="viewReviews($event)">Show Ratings</md-button>
                </md-content>
            </md-tab>
            <md-tab label="Contact">
                <md-content class="md-padding">
                    <p class="md-subhead">{{details.house_number}}, {{details.street}}, {{details.area}}</p>
                    <p class="md-subhead" >{{details.city}}</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-content>

</div>
