<div class="container">
		<h2 class="page-header">Testimonials</h2>
		<div class="row talk">
			<div class="col-xs-3 col-sm-2 col-md-1">
				<img class="img-circle img-thumbnail" src="images/avtar-1.jpg" alt="">
			</div>				
			<div class="col-xs-9 col-sm-10 col-md-11">	
				<div class="talk-bubble tri-right border round left-in">
					<div class="talktext">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam.</p>
						<div class="author">- Caty Bairstow <span>Feb 14, 2017</span></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row talk">
			<div class="col-xs-3 col-sm-2 col-md-1">
				<img class="img-circle img-thumbnail" src="images/avtar-2.jpg" alt="">
			</div>				
			<div class="col-xs-9 col-sm-10 col-md-11">	
				<div class="talk-bubble tri-right border round left-in">
					<div class="talktext">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<div class="author">- Caty Bairstow <span>Feb 14, 2017</span></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row talk">
			<div class="col-xs-3 col-sm-2 col-md-1">
				<img class="img-circle img-thumbnail" src="images/avtar-3.jpg" alt="">
			</div>				
			<div class="col-xs-9 col-sm-10 col-md-11">	
				<div class="talk-bubble tri-right border round left-in">
					<div class="talktext">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<div class="author">- Caty Bairstow <span>Feb 14, 2017</span></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>	
		<div class="row talk">
			<div class="col-xs-3 col-sm-2 col-md-1">
				<img class="img-circle img-thumbnail" src="images/avtar-1.jpg" alt="">
			</div>				
			<div class="col-xs-9 col-sm-10 col-md-11">	
				<div class="talk-bubble tri-right border round left-in">
					<div class="talktext">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<div class="author">- Caty Bairstow <span>Feb 14, 2017</span></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>	
		<div class="row talk">
			<div class="col-xs-3 col-sm-2 col-md-1">
				<img class="img-circle img-thumbnail" src="images/avtar-2.jpg" alt="">
			</div>				
			<div class="col-xs-9 col-sm-10 col-md-11">	
				<div class="talk-bubble tri-right border round left-in">
					<div class="talktext">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<div class="author">- Caty Bairstow <span>Feb 14, 2017</span></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<hr>
		<div class="row talk">
		  <div class="col-sm-2">
			<p class="pagination">Page 1 of 5</p>
		  </div>
		  <div class="col-sm-10 text-right custom-page">
			<nav aria-label="Page navigation">
			  <ul class="pagination">
				<!--<li> <a href="#" aria-label="Previous"> <span aria-hidden="true">Previous</span> </a> </li>-->
				<li class="active"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li> <a aria-label="Next" href=""> <span aria-hidden="true">Next</span> </a> </li>
			  </ul>
			</nav>
		  </div>
		  <div class="clearfix"></div>
		</div>
	</div>