<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			ng-click="close()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{header}}</h4>
	</div>
	<div class="modal-body" style="overflow: auto; display: inline-block;">
		<div>
			{{warning}} <label ng-bind="userName"></label>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" ng-click="applyAction()">{{action}}</button>
		<button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
	</div>
</div>
